body {
    background-color: aquamarine;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: crimson;
}
.header_div {
    background-color: darkcyan;
    color: whitesmoke;
}
.header_div p {
    font-family: cursive;
    color: lawngreen;
    letter-spacing: 2px;
    font-size: 12px;
    font-weight: bold;
}
.main_div button {
    font-family: fantasy;
    margin-top: 30px;
    width: 130px;
    font-weight: bolder;
    letter-spacing: 3px;
}
.copy_right_footer {
    position: fixed;
    color: blanchedalmond;
    bottom: 0;
    width: 100%;
    font-size: 18px;
    background-color: darkgoldenrod;
    line-height: 3;
    text-align: center;
    text-shadow: 5px 5px 5px;
    color: greenyellow;
}